<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2022. All rights reserved.
  ~ @author: Volodymyr Hryvinskyi <mailto:volodymyr@hryvinskyi.com>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Processor pool configuration -->
    <preference for="Hryvinskyi\PageSpeedJsMergeFrontendUi\Api\MergeProcessorPoolInterface"
                type="Hryvinskyi\PageSpeedJsMergeFrontendUi\Model\MergeProcessorPool" />

    <!-- Data object preference -->
    <preference for="Hryvinskyi\PageSpeedJsMergeFrontendUi\Api\Data\ProcessContentDataInterface"
                type="Hryvinskyi\PageSpeedJsMergeFrontendUi\Model\Data\ProcessContentData" />

    <!-- Register default processor in the pool -->
    <type name="Hryvinskyi\PageSpeedJsMergeFrontendUi\Model\MergeProcessorPool">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="default" xsi:type="array">
                    <item name="processor" xsi:type="object">Hryvinskyi\PageSpeedJsMergeFrontendUi\Model\DefaultMergeProcessor</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Hryvinskyi\PageSpeedApi\Model\ModificationsList">
        <arguments>
            <argument name="modifications" xsi:type="array">
                <item name="merge_js" xsi:type="array">
                    <item name="object" xsi:type="object">Hryvinskyi\PageSpeedJsMergeFrontendUi\Model\JsMergeModification</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Result\Layout">
        <plugin name="process_merge_before_render_result"
                type="Hryvinskyi\PageSpeedJsMergeFrontendUi\Controller\Result\ProcessMergeBeforeRenderResult"
                sortOrder="-60"/>
    </type>
</config>
