<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2022. All rights reserved.
  ~ @author: Volodymyr Hryvinskyi <mailto:volodymyr@hryvinskyi.com>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="pagespeedjsmerge" frontName="pagespeedjsmerge">
            <module name="Hryvinskyi_PageSpeedJsMergeFrontendUi"/>
        </route>
    </router>
</config>
